@reference "tailwindcss";

.flip-card {
  @apply h-100 w-2xs;
  perspective: 1000px;
}

.flip-card-inner {
  @apply rounded-xl;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  background-color: var(--background-color);
}

.flip-card-front,
.flip-card-back {
  @apply p-8;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
