name: deploy

on:
  push:
    branches:
      - main

concurrency:
  group: deployment
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_CLI_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_CLI_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_CLI_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          mask-password: "true"

      - name: Build, tag, and push image to Amazon ECR
        env:
          AWS_DEFAULT_REGION: ${{ secrets.AWS_ECR_REGION }}
          ECR_REPO_URL: ${{ secrets.ECR_REPO_URL }}
          BUILD_IMAGE_NAME: prod
        run: |
          docker build -t $BUILD_IMAGE_NAME .
          docker tag $BUILD_IMAGE_NAME $ECR_REPO_URL
          docker push $ECR_REPO_URL
